/* styles go here */
.form-field {
  display: block;
  padding-bottom: 10px;
}

.form-field:last-child {
  padding-bottom: 0;
}

.question-about__cats {
  padding-bottom: 10px;
}

.block {
  margin-bottom: 20px;
}

button {
  margin: 5px 0;
}
